{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">Latest</a>
      <a class="p-2 text-muted" href="#">Hair Care</a>
      <a class="p-2 text-muted" href="#">Random Thoughts</a>
    </nav>
    <hr>
  </div>

  <div class="blog-post">
    <h2 class="blog-post-title">Sample blog post</h2>
    <p class="blog-post-meta">January 25, 2020 by <a href="#">Shanika</a></p>

    <p>This is my first blog post. My husband made this website for me because he's awesome and he wanted me to have a way to express myself</p>
    <hr>
    <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
    <blockquote>
      <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </blockquote>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>

  </div><!-- /.blog-post -->
{% endblock %}


